
.header {
  width: 100%;
}
  
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  
  background-color: black;
  color: rgb(196, 191, 191);
  
  padding: 5px 30px;
  
  &-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
  
    &-left {
      display: flex;
      justify-content: right;
    }
  
    &-right {
      text-align: right;
    }
  }
  
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &-link {
    &-left {
      margin-right: 20px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-right: 1px solid rgb(180, 170, 170);
    }
    &-right {
      margin-left: 20px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-left: 1px solid rgb(180, 170, 170);
    }
  }
}
  
.logo {
  &-big {
    color: red;
    font-size: 25px;
    font-style: normal;
  }
}

@media screen and (max-width: 600px) {
  .nav-list-left {
    display: none;
  }
}
